# SQL Server Files
*.mdf
*.ldf
*.ndf

# Backup Files (If your backup is >100MB, GitHub will reject it, so ignoring is a good practice)
# *.bak 

# SSMS / Visual Studio Temp Files
*.ssmssqlproj
*.suo
*.user
*.osql
